.articleImg {
  max-height: 25em;
  max-width: 34em;
  width: auto;
}

.imgRuleset {
  max-height: 10em;
  max-width: 10em;
  width: auto;
  float: left;
}

.textRuleset {
  max-height: 8.9em;
  overflow: hidden;
}

.dummySingleArticleAuthor {
  width: 50%!important;
}

.dummySingleArticleDate {
  width: 55%!important;
}

.dummySingleArticleText {
  width: 70%!important;
}

.dummyArticleText {
  width: 80%!important;
}

.dummyArticleTitle {
  width: 90%!important;
}

.dummyImg {
  max-width: 90%!important;
  min-width: 50%!important; 
  width: auto!important; 
  height: 140px!important;
}